<%- include('inc/header.html') %>
<section>
	<div class="relative">
		<div class="absolute w-full h-full -z-10 ibg bg-center bg-cover">
			<img src="../assets/images/banner1.png" alt="" class="">
		</div>
		<div class="h-full mt-[-120px] pt-[120px] text-white">
			<div class="container">
				<h1 class="mt-10 pb-2 text-5xl  font-rum text-center uppercase lg:hidden">Visão do Coração traz os frutos da Terra</h1>

				<h1 class="mt-10 pb-2 text-5xl  font-rum text-center uppercase hidden lg:block sm:text-4xl">descanse  em um  lugar mágico</h1>
				<div class="flex justify-center">
					<div class="max-w-[450px] grow">
						<img src="../assets/images/logo-large.png" alt="" class="w-full">
					</div>
					<div class="font-rum text-4xl uppercase pt-5 lg:hidden">
						<div class="py-1">
							<i class="fa-solid fa-circle pr-2"></i>
							reservar airbnb
						</div>
						<div class="py-1">
							<i class="fa-solid fa-circle pr-2"></i>
							reservar booking
						</div>
						<div class="py-1 text-center">
							contato
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="basis-1/3 sm:basis-full mb-2">
						A Arte de Ser e Viver em UNIDADE na Terra, contribuindo para o Sonho da Grande Mãe. É uma visão do coração que traz os frutos da Terra.
						
					</div>
				</div>
				<div class="flex justify-center items-center gap-8 pb-4">
					<a class="rounded-full w-[100px] h-[100px] bg-[#f0c14017] drop-shadow-3xl flex justify-center items-center p-4 hover:drop-shadow-heavy transition duration-300 hover:-translate-y-1 ease-in-out">
						<img src="../assets/images/bird.png" alt="" class="w-full">
					</a>
					<a class="rounded-full w-[100px] h-[100px] bg-[#f0c14017] drop-shadow-3xl flex justify-center items-center p-4 hover:drop-shadow-heavy transition duration-300 hover:-translate-y-1 ease-in-out">
						<img src="../assets/images/flower.svg" alt="" class="w-full">
					</a>
				</div>
			</div>
		</div>
	</div>

</section>
<%- include('inc/footer.html') %>
</body>

</html>