<%- include('inc/header.html') %>
<section>
	<div class="relative">
		<div class="absolute w-full h-full -z-10 ibg bg-center bg-cover">
			<img src="../assets/images/banner1.png" alt="" class="">
		</div>
		<div class="h-full mt-[-120px] pt-[120px] text-white">
			<div class="container">
				<h1 class="mt-10 pb-2 text-5xl  font-rum text-center uppercase lg:hidden">Visão do Coração traz os frutos da Terra</h1>

				<h1 class="mt-10 pb-2 text-5xl  font-rum text-center uppercase hidden lg:block sm:text-4xl">descanse  em um  lugar mágico</h1>
				<div class="flex justify-center">
					<div class="max-w-[450px] grow">
						<img src="../assets/images/logo-large.png" alt="" class="w-full">
					</div>
					<div class="font-rum text-4xl uppercase pt-5 lg:hidden">
						<div class="py-1">
							<i class="fa-solid fa-circle pr-2"></i>
							reservar airbnb
						</div>
						<div class="py-1">
							<i class="fa-solid fa-circle pr-2"></i>
							reservar booking
						</div>
						<div class="py-1 text-center">
							contato
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="basis-1/3 sm:basis-full mb-2">
						A Arte de Ser e Viver em UNIDADE na Terra, contribuindo para o Sonho da Grande Mãe. É uma visão do coração que traz os frutos da Terra.
						
					</div>
				</div>
				<div class="flex justify-center items-center gap-8 pb-4 md:pb-16 sm:hidden">
					<a class="group/nav-circle rounded-full w-[100px] h-[100px] md:w-[75px] md:h-[75px] bg-[#f0c14017] drop-shadow-3xl flex justify-center items-center p-4 hover:drop-shadow-heavy transition duration-300 hover:-translate-y-1 ease-in-out">
						<img src="../assets/images/bird.png" alt="" class="w-full transition group-hover/nav-circle:-translate-y-1 duration-300">
					</a>
					<a class="group/nav-circle rounded-full w-[100px] h-[100px] md:w-[75px] md:h-[75px] bg-[#f0c14017] drop-shadow-3xl flex justify-center items-center p-4 hover:drop-shadow-heavy transition duration-300 hover:-translate-y-1 ease-in-out">
						<img src="../assets/images/flower.svg" alt="" class="w-full transition group-hover/nav-circle:-translate-y-1 duration-300">
					</a>
				</div>
				<div class="flex justify-center items-center pt-6 pb-3">
					<div data-modal-trigger data-modal-id="contact-modal" class="cursor-pointer py-4 px-8 uppercase font-rum text-xl bg-zinc-500 rounded hover:shadow-inset-lg duration-300 transition active:bg-zinc-700 mt-auto text-white">
						Reserve comigo
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="mt-16">
	<div class="relative after:absolute after:h-2.5 after:bg-zinc-400 after:right-0 after:left-1/2 after:bottom-0 mb-16">
		<div class="container relative">
			<h2 class="block-title pb-6
			border-b-[10px] border-zinc-400 ml-[25%]">Hosdedaria Recanto dos Passeros</h2>
			<img src="../assets/images/bird2.png" alt="" class="absolute right-3/4 w-1/4 top-0 sm:bottom-0 sm:m-auto max-w-[200px]">
		</div>
	</div>
	<div class="container">
		<div class="flex flex-row-reverse gap-2.5 lg:flex-col items-stretch">
			<div class="basis-1/2 shrink-0 drop-shadow-xs  lg:max-w-xl lg:mb-2">
				<img src="../assets/images/nature1.png" alt="" class="rounded-lg">
			</div>
			<div class="grow flex flex-col">
				<p class="mb-5">Disponibilizamos de 4 acomodações completas, sendo 3 (três) apartamentos *Apartamento Lar*, *Cazinha Zen* e *Estúdio da Paz* para 2 , 3 e até 4 pessoas com ate 30m2 cada e 1(uma) Casa + Amor com 60m2. Todas acomodações dispõem de acesso individual, suite decorado, lavabo com chuveiro, cozinha equipada individual, varanda com rede, vista para natureza, ar condicionado, wifi, serviço de limpeza, estacionamento e segurança .</p>

				<a href="./homes.html" class="bg-yellow-600 p-3 text-xl font-rum block text-white text-center rounded hover:shadow-inset-lg duration-300 transition active:bg-yellow-700 mt-auto">VER MAIS</a>
			</div>
		</div>
	</div>
</section>


<section class="mt-16">
	<div class="relative after:absolute after:h-2.5 after:bg-zinc-400 after:left-0 after:right-1/2 after:bottom-0 mb-16">
		<div class="container relative">
			<h2 class="block-title pb-6 border-b-[10px] border-zinc-400 mr-[25%] text-right">ALQUIMIA</h2>
			<img src="../assets/images/flower.svg" alt="" class="absolute left-3/4 w-1/4 top-0 max-w-[150px]">
		</div>
	</div>
	<div class="container">
		<div class="flex gap-2.5 lg:flex-col items-stretch">
			<div class="basis-1/2 shrink-0 drop-shadow-xs  lg:max-w-xl lg:mb-2">
				<img src="../assets/images/nature2.png" alt="" class="rounded-lg">
			</div>
			<div class="grow flex flex-col">
				<p class="mb-5">Disponibilizamos de 4 acomodações completas, sendo 3 (três) apartamentos *Apartamento Lar*, *Cazinha Zen* e *Estúdio da Paz* para 2 , 3 e até 4 pessoas com ate 30m2 cada e 1(uma) Casa + Amor com 60m2. Todas acomodações dispõem de acesso individual, suite decorado, lavabo com chuveiro, cozinha equipada individual, varanda com rede, vista para natureza, ar condicionado, wifi, serviço de limpeza, estacionamento e segurança .</p>

				<a href="./alquimia.html" class="bg-yellow-600 p-3 text-xl font-rum block text-white text-center rounded hover:shadow-inset-lg duration-300 transition active:bg-yellow-700 mt-auto">VER MAIS</a>
			</div>
		</div>
	</div>
</section>
<section class="mt-8">
	<div class="relative after:absolute after:h-2.5 after:bg-zinc-400 after:right-0 after:left-1/2 after:bottom-0 mb-8">
		<div class="container">
			<h2 class="block-title pb-6
			border-b-[10px] border-zinc-400 ml-[10%]">Nosso Conceito</h2>
		</div>
	</div>
	<div class="container">
		<div class="flex gap-2.5 lg:flex-col items-center">
			<div class="basis-1/2 shrink-0 drop-shadow-xs  lg:max-w-xl lg:mb-2">
				<img src="../assets/images/network.png" alt="" class="mix-blend-hard-light">
			</div>
			<div class="grow flex flex-col">
				<p class="mb-5">Estar em um ambiente natural nos permite renovar nossas energias, descarregando na terra aquelas que estão desequilibradas. A afastar-se do ambiente urbano, dos barulhos dos carros e da multidão, você terá a oportunidade de encontrar um momento de paz interior e respirar livremente.</p>
				<p class="mb-5">O termo Zen é frequentemente utilizado por aqueles que buscam uma vida tranquila. Não é exclusivo do budismo, mas é adotado por pessoas que procuram evitar problemas e manter a mente serena. Nosso foco está no bem-estar, no silêncio da floresta, no conforto da casa e conexão com Natureza. São os pilares da nossa proposta de Hospedaria ZEN</p>
				<p class="mb-5">Ambas as Hospedarias estão situadas a apenas 3,5 km da Praia do Forte, em um local seguro e cercado pela exuberante natureza das Reservas Aruá e Sapiranga. Rodeadas pela Mata Atlântica nativa, oferecem um ambiente para respirar, meditar e descansar longe do estresse, do barulho e das pressões cotidianas. É o lugar ideal para desfrutar do famoso "Banho de Floresta" e recarregar as energias.</p>

				<a href="./ideals.html" class="bg-yellow-600 p-3 text-xl font-rum block text-white text-center rounded hover:shadow-inset-lg duration-300 transition active:bg-yellow-700 mt-auto">VER MAIS</a>
			</div>
		</div>
	</div>
</section>

<section class="mt-20">
	<div class="relative">
		<div class="absolute inset-0 -z-10">
			<video preload="true" autoplay loop muted class="object-cover w-full h-full">
		      <source src="../assets/images/smoke.mp4" type="video/mp4" /> 
		   </video>
		</div>
		<div class="container">
			<div class="relative inset-0 flex justify-center items-center text-6xl font-rum text-white text-center py-36">
				Visão do Coração traz os frutos da Terra
			</div>
			
		</div>
	</div>
</section>


<section class="mt-16">
	<div class="relative after:absolute after:h-2.5 after:bg-zinc-400 after:right-0 after:left-1/2 after:bottom-0 mb-12">
		<div class="container relative">
			<h2 class="block-title pb-6
			border-b-[10px] border-zinc-400 ml-[25%]">Mapa del camping</h2>
		</div>
	</div>
	<img src="../assets/images/map.png" alt="" class="w-full">
</section>
<section class="mt-4 mb-16">
	<div class="container">
		<h3 class="text-xl mb-6 w-4/6 sm:w-full">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis consectetur.</h3>
		<div class="flex justify-center items-center gap-8 flex-wrap">
			<div class="flex justify-between items-center gap-4 basis-5/12 grow md:basis-full md:max-w-md">
				<div class="basis-9 shrink-0">
					<img src="../assets/images/kitchen.svg" alt="">
				</div>
				<div class="grow">
					<div class="text-sm">Modern Kitchen Appliances</div>
					<div class="text-sm text-stone-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				</div>
			</div>
			<div class="flex justify-between items-center gap-4 basis-5/12 grow md:basis-full md:max-w-md">
				<div class="basis-9 shrink-0">
					<img src="../assets/images/air-conditioner.svg" alt="">
				</div>
				<div class="grow">
					<div class="text-sm">Air Conditioner</div>
					<div class="text-sm text-stone-600">Nullam scelerisque aliquam odio et faucibus.</div>
				</div>
			</div>
			<div class="flex justify-between items-center gap-4 basis-5/12 grow md:basis-full md:max-w-md">
				<div class="basis-9 shrink-0">
					<img src="../assets/images/trees.svg" alt="">
				</div>
				<div class="grow">
					<div class="text-sm">Outdoor Paths</div>
					<div class="text-sm text-stone-600">Nulla rhoncus feugiat eros quis consectetur.</div>
				</div>
			</div>
			<div class="flex justify-between items-center gap-4 basis-5/12 grow md:basis-full md:max-w-md">
				<div class="basis-9 shrink-0">
					<img src="../assets/images/basket.svg" alt="">
				</div>
				<div class="grow">
					<div class="text-sm">Storage Solutions</div>
					<div class="text-sm text-stone-600">Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.</div>
				</div>
			</div>

			<div class="flex justify-between items-center gap-4 basis-5/12 grow md:basis-full md:max-w-md">
				<div class="basis-9 shrink-0">
					<img src="../assets/images/coffee.svg" alt="">
				</div>
				<div class="grow">
					<div class="text-sm">Coffee Maker</div>
					<div class="text-sm text-stone-600">Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.</div>
				</div>
			</div>
			
			<div class="flex justify-between items-center gap-4 basis-5/12 grow md:basis-full md:max-w-md">
				<div class="basis-9 shrink-0">
					<img src="../assets/images/wine.svg" alt="">
				</div>
				<div class="grow">
					<div class="text-sm">Cutlery Selection</div>
					<div class="text-sm text-stone-600">Duis tristique sed lorem a vestibulum.</div>
				</div>
			</div>
			
			<div class="flex justify-between items-center gap-4 basis-5/12 grow md:basis-full md:max-w-md">
				<div class="basis-9 shrink-0">
					<img src="../assets/images/tents.svg" alt="">
				</div>
				<div class="grow">
					<div class="text-sm">Natural Scenery</div>
					<div class="text-sm text-stone-600">Cras commodo consequat orci, in convallis risus egestas non.</div>
				</div>
			</div>
			<div class="flex justify-between items-center gap-4 basis-5/12 grow md:basis-full md:max-w-md">
				<div class="basis-9 shrink-0">
					<img src="../assets/images/pizza.svg" alt="">
				</div>
				<div class="grow">
					<div class="text-sm">Take-away Options</div>
					<div class="text-sm text-stone-600">Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam.</div>
				</div>
			</div>
		</div>
		<div class="text-center mt-9">
			<div data-modal-trigger data-modal-id="contact-modal"  class="cursor-pointer bg-zinc-500 py-3 px-7 text-2xl font-rum inline-block text-white text-center rounded hover:shadow-inset-lg duration-300 transition active:bg-zinc-600 text-c">Reserve agora</div>
			
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>