<%- include('inc/header.html') %>

<section class="mt-12">
	<div class="relative border-b-[10px] border-zinc-400 mb-16">
		<div class="container text-center">
			<h2 class="uppercase text-5xl sm:text-3xl font-bold font-playfairSC text-white pb-6">Espaço Zen</h2>
		</div>
	</div>
	<div class="container">
		<div class="flex gap-12 lg:flex-wrap">
			<div class="basis-2/5 lg:basis-full shrink-0 flex justify-start lg:justify-center">
				<img src="../assets/images/sunset3.png" alt="" class="max-w-md w-full">
			</div>
			<div class="lg:basis-full grow flex flex-col text-white font-playfairSC">
				<p class="mb-5 text-4xl lg:text-3xl font-bold">RELAXE EM UM LUGAR MÁGICO - DESFRUTE DO BANHO DE FLORESTA</p>

				<p class="mb-5 text-3xl lg:text-2xl">Bem-vindo ao nosso refúgio tranquilo! Aqui, oferecemos a oportunidade de revitalizar seu corpo e mente com a medicina do banho de floresta.</p>
			</div>
		</div>
		<div class="mt-8">
			Acreditamos no poder curativo da natureza e nas propriedades terapêuticas encontradas nas essências aromáticas livres na atmosfera das florestas. Ao entrar em contato com elas, você será transportado para um estado de calma profunda, ativando seu sistema límbico através do sentido do olfato. <br>Além disso, nossa localização isolada da agitação urbana oferece um ambiente livre de carros e multidões, permitindo que você se desconecte do estresse diário e encontre um momento de paz interior. Aqui, você poderá recarregar suas energias, liberando aquelas que estão em desequilíbrio e respirando livremente novamente. <br>Venha se perder na beleza da natureza e mergulhe em um banho de floresta revitalizante. Reserve agora mesmo e comece uma jornada de renovação e relaxamento profundo.
		</div>
	</div>
</section>
<section>
	<div class="mt-9 relative after:absolute after:h-2.5 after:bg-zinc-400 after:right-0 after:left-1/2 after:bottom-0 mb-16">
		<div class="container relative">
			<div class="text-white pb-6
			border-b-[10px] border-zinc-400 ml-[25%] sm:ml-0">
				<h2 class="uppercase text-5xl sm:text-3xl font-bold font-playfairSC pb-2">
					PRATICAS HOLÍSTICAs:
				</h2>
				<h3 class="uppercase text-4xl sm:text-2xl font-playfairSC">
					Compartilhando Experiências Positivas
				</h3>
			</div>
		</div>
	</div>
	<div class="bg-gray-350 py-2">
		<div class="container">
			<div class="flex justify-center items-center gap-20">
				<div class="basis-3/12 shrink-0 lg:hidden">
					<img src="../assets/images/logo.svg" alt="" class="mix-blend-screen w-full">
				</div>
				<div class="grow flex flex-col gap-20">
					<div class="flex items-center gap-12 sm:flex-col">
						<div class="aspect-square w-[100px] shrink-0 p-3 bg-[radial-gradient(circle,#ccae67_0%,#e8d28c_100%)] rounded-full flex justify-center items-center">
							<img src="../assets/images/lotus.svg" alt="" class="w-full">
						</div>
						<div class="">
							Em cada apartamento, dedicamos um espaço para um pequeno altar, onde você pode acender um incenso ou uma vela, ler uma oração, uma frase ou um mantra, ou simplesmente fechar os olhos e relaxar por 15 minutos, sem fazer absolutamente nada.
						</div>
						
					</div>
					<div class="flex items-center gap-12 sm:flex-col">
						<div class="aspect-square w-[100px] shrink-0 p-3 bg-[radial-gradient(circle,#ccae67_0%,#e8d28c_100%)] rounded-full flex justify-center items-center">
							<img src="../assets/images/images.svg" alt="" class="w-full">
						</div>
						<div class="">
							Em cada apartamento, dedicamos um espaço para um pequeno altar, onde você pode acender um incenso ou uma vela, ler uma oração, uma frase ou um mantra, ou simplesmente fechar os olhos e relaxar por 15 minutos, sem fazer absolutamente nada.
						</div>
						
					</div>
					<div class="flex items-center gap-12 sm:flex-col">
						<div class="aspect-square w-[100px] shrink-0 p-3 bg-[radial-gradient(circle,#ccae67_0%,#e8d28c_100%)] rounded-full flex justify-center items-center">
							<img src="../assets/images/book.svg" alt="" class="w-full">
						</div>
						<div class="">
							Em cada apartamento, dedicamos um espaço para um pequeno altar, onde você pode acender um incenso ou uma vela, ler uma oração, uma frase ou um mantra, ou simplesmente fechar os olhos e relaxar por 15 minutos, sem fazer absolutamente nada.
						</div>
						
					</div>
					<div class="flex items-center gap-12 sm:flex-col">
						<div class="aspect-square w-[100px] shrink-0 p-3 bg-[radial-gradient(circle,#ccae67_0%,#e8d28c_100%)] rounded-full flex justify-center items-center">
							<img src="../assets/images/tree.svg" alt="" class="w-full">
						</div>
						<div class="">
							Em cada apartamento, dedicamos um espaço para um pequeno altar, onde você pode acender um incenso ou uma vela, ler uma oração, uma frase ou um mantra, ou simplesmente fechar os olhos e relaxar por 15 minutos, sem fazer absolutamente nada.
						</div>
						
					</div>
					<div class="flex items-center gap-12 sm:flex-col">
						<div class="aspect-square w-[100px] shrink-0 p-6 bg-[radial-gradient(circle,#ccae67_0%,#e8d28c_100%)] rounded-full flex justify-center items-center">
							<img src="../assets/images/yoga.svg" alt="" class="w-full">
						</div>
						<div class="">
							Em cada apartamento, dedicamos um espaço para um pequeno altar, onde você pode acender um incenso ou uma vela, ler uma oração, uma frase ou um mantra, ou simplesmente fechar os olhos e relaxar por 15 minutos, sem fazer absolutamente nada.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="relative after:absolute after:h-2.5 after:bg-zinc-400 after:left-0 after:right-1/2 after:bottom-0 mb-16">
		<div class="container relative">
			<h2 class="uppercase text-5xl sm:text-3xl font-bold font-playfairSC text-white pb-6 border-b-[10px] border-zinc-400 mr-[25%] sm:m-0 text-right">Banho de Floresta</h2>
		</div>
	</div>
	<div class="container">
		<div class="flex justify-center items-center gap-10 md:flex-wrap mb-10">
			<div class="basis-1/2 md:basis-full">
				<img src="../assets/images/forest1.png" alt="" class="w-full">
			</div>
			<div class="basis-1/2 md:basis-full">
				Meditação da Floresta (leve sua canga ou tapete de palha) <br>
				10 minutos - Fique descalço - Caminhe devagar entre as arvores <br>
				5 minutos - Descarregue numa pedra seus pensamentos e depois devolve na terra a pedra <br>
				10 minutos - Balance ou Dance ou Fique em pe imaginando que é uma arvore  - Que arvore voce é? (visualize)
			</div>
		</div>
		<div class="flex flex-row-reverse justify-center items-center gap-10 md:flex-wrap mb-10">
			<div class="basis-1/2 md:basis-full">
				<img src="../assets/images/forest2.png" alt="" class="w-full">
			</div>
			<div class="basis-1/2 md:basis-full">
				25 minutos - Fique sentado com olhos fechados em silencio, observe respiração - Pensamentos são como nuvens
				10 minutos - Deite e relaxe
			</div>
		</div>
		
	</div>

	<div class="relative after:absolute after:h-2.5 after:bg-zinc-400 after:right-0 after:left-1/2 after:bottom-0 mb-16">
		<div class="container relative">
			<h2 class="uppercase text-5xl sm:text-3xl font-bold font-playfairSC text-white pb-6 border-b-[10px] border-zinc-400 ml-[25%] sm:m-0">Ganeshaforest Templo:</h2>
		</div>
	</div>
	<div class="container">
		<div class="flex justify-center items-center gap-10 md:flex-wrap mb-10">
			<div class="basis-1/2 md:basis-full">
				<img src="../assets/images/forest3.png" alt="" class="w-full">
			</div>
			<div class="basis-1/2 md:basis-full">
				Ganesha Forest Templo. Ganesha Forest Templo. Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.Ganesha Forest Templo.
			</div>
		</div>
		
	</div>
</section>
<section>
	
	<div class="relative after:absolute after:h-2.5 after:bg-zinc-400 after:left-0 after:right-1/2 after:bottom-0 mb-16">
		<div class="container relative">
			<h2 class="uppercase text-5xl sm:text-3xl font-bold font-playfairSC text-white pb-6 border-b-[10px] border-zinc-400 mr-[25%] sm:m-0 text-right">Retiros y festivos</h2>
		</div>
	</div>
	<div class="relative">
		<img src="../assets/images/video-preview1.png" alt="" class="w-full">
		<div class="absolute inset-0 flex justify-center items-center cursor-pointer transition hover:drop-shadow-heavy duration-300 group/video-preview"  data-modal-trigger data-modal-id="video-modal1">
			<img src="../assets/images/play-button.svg" alt="" class="transition duration-300 group-hover/video-preview:scale-110 basis-20 min-w-0">
		</div>
	</div>

	<div class="def-modal modal modal-bg" id="video-modal1">
		<div class="def-modal__outer-container container">
			<div class="def-modal__inner-container def-modal__inner-container--100">
				<div class="def-modal__wrapper modal-window p-2 rounded-xl">
					<div class="def-modal__top mb-2 px-2">
						<div class="def-modal__title text-2xl">
							<span class="modal-title">Video</span>
						</div>
						<div class="group/cross relative h-[30px] w-[35px] flex-col justify-center flex cursor-pointer modal-cross">
							
							<div class="bg-gray-400 h-[4px] w-full transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75 translate-y-[2px] rotate-[135deg]"></div>
							<div class="bg-gray-400 h-[4px] w-full transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75 translate-y-[-2px] rotate-[-135deg]"></div>
						</div>
					</div>
					<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
						<iframe class="aspect-video w-full" src="https://www.youtube.com/embed/BHACKCNDMW8?si=tzRVoxdM7IcODhoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen enablejsapi=1></iframe>
					</div>
				</div>
			</div>  
		</div>
	</div>
</section>
<section>
	<div class="mt-9 relative after:absolute after:h-2.5 after:bg-zinc-400 after:left-0 after:right-1/2 after:bottom-0 mb-16">
		<div class="container relative">
			<div class="text-white pb-6
			border-b-[10px] border-zinc-400 mr-[25%] sm:ml-0">
				<h2 class="uppercase text-5xl sm:text-3xl font-bold font-playfairSC pb-2">
					Terapia Holística
				</h2>
				<h3 class="uppercase text-4xl sm:text-2xl font-playfairSC">
					ON-LINE em todo mundo !
				</h3>
			</div>
		</div>
	</div>
	<div class="bg-gray-350 py-5">
		<div class="container">
			<div class="flex justify-center items-center gap-10 md:flex-wrap mb-10">
				<div class="basis-1/2 md:basis-full">
					<img src="../assets/images/nun.png" alt="" class="w-full">
				</div>
				<div class="basis-1/2 md:basis-full text-white">
					<div class="font-rum text-5xl sm:text-3xl">
						Maura Chandini  Yaoklí Madüa 
					</div>
					<div class="font-playfairSC text-4xl sm:text-2xl">
						( Abraçando a luz na sustentação do Sonho da Terra) Terapeuta sensitiva Atua na área holística a 20 anos .

					</div>
				</div>
			</div>
			<div class="text-white text-4xl font-playfairSC">
				Formação em Danças Circulares Sagradas, Constelação Familiar . Tendo o Xamanismo como um resgate de sua alma. Integrante do Conselho das Anciãs das 13 luas.
			</div>
			<div class=" mb-8">
				( Recebendo formação através de @awaraniritosancestrais )
			</div>
			<div class="text-white text-4xl font-playfairSC font-bold">
				Toque terapêutico 
			</div>
			<div class="text-white text-4xl font-playfairSC">
				Alinhamento dos chakras com  som do tambor, Orgonites <br>
				Crânio sacral  <br>
				Mandala do Ser . <br>
				Roda de cura com as cartas do Caminho Sagrado
			</div>
			<div class=" mb-8">
				Todos os atendimentos incluem  uma receita de florais de Saint Germain .
			</div>

		</div>
	</div>
</section>
<section class="py-4">
	<div class="container">
		<div class="text-white text-5xl font-rum text-center">
			<div class="mb-20">
				Reserve  seu lugar!
			</div>
			<div class="mb-20">
				Whatsapp (73)99953-2832
			</div>
			<div class="mb-20">
				Maura Chandini  Yaoklí Madüa
			</div>
			<div class="mb-20">
				Será um prazer proporcionar
			</div>
			<div class="">
				um Encontro com a sua Essência
			</div>
			
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>