<%- include('inc/header.html') %>

<section class="mt-12">
	<div class="relative border-b-[10px] border-zinc-400 mb-16">
		<div class="container text-center">
			<h2 class="uppercase text-5xl sm:text-3xl font-bold font-playfairSC text-white pb-6">Espaço Zen</h2>
		</div>
	</div>
	<div class="container">
		<div class="flex gap-12 lg:flex-wrap">
			<div class="basis-2/5 lg:basis-full shrink-0 flex justify-start lg:justify-center">
				<img src="../assets/images/sunset3.png" alt="" class="max-w-md w-full">
			</div>
			<div class="lg:basis-full grow flex flex-col text-white font-playfairSC">
				<p class="mb-5 text-4xl lg:text-3xl font-bold">RELAXE EM UM LUGAR MÁGICO - DESFRUTE DO BANHO DE FLORESTA</p>

				<p class="mb-5 text-3xl lg:text-2xl">Bem-vindo ao nosso refúgio tranquilo! Aqui, oferecemos a oportunidade de revitalizar seu corpo e mente com a medicina do banho de floresta.</p>
			</div>
		</div>
		<div class="mt-8">
			Acreditamos no poder curativo da natureza e nas propriedades terapêuticas encontradas nas essências aromáticas livres na atmosfera das florestas. Ao entrar em contato com elas, você será transportado para um estado de calma profunda, ativando seu sistema límbico através do sentido do olfato. <br>Além disso, nossa localização isolada da agitação urbana oferece um ambiente livre de carros e multidões, permitindo que você se desconecte do estresse diário e encontre um momento de paz interior. Aqui, você poderá recarregar suas energias, liberando aquelas que estão em desequilíbrio e respirando livremente novamente. <br>Venha se perder na beleza da natureza e mergulhe em um banho de floresta revitalizante. Reserve agora mesmo e comece uma jornada de renovação e relaxamento profundo.
		</div>
	</div>
</section>
<section>
	<div class="mt-9 relative after:absolute after:h-2.5 after:bg-zinc-400 after:right-0 after:left-1/2 after:bottom-0 mb-16">
		<div class="container relative">
			<div class="text-white pb-6
			border-b-[10px] border-zinc-400 ml-[25%] sm:ml-0">
				<h2 class="uppercase text-5xl sm:text-3xl font-bold font-playfairSC pb-2">
					PRATICAS HOLÍSTICAs:
				</h2>
				<h3 class="uppercase text-4xl sm:text-2xl font-playfairSC">
					Compartilhando Experiências Positivas
				</h3>
			</div>
		</div>
	</div>
	<div class="bg-gray-350">
		<div class="container">
			<div class="flex justify-center items-center">
				<div class="basis-3/12 shrink-0 lg:hidden">
					<img src="../assets/images/logo.svg" alt="" class="mix-blend-screen w-full">
					
				</div>
			</div>
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>