body{
	font-family: $defFont;
	color: $defFontColor;
	font-size: $defFontSize;
	font-weight: $defFontWeight;
	line-height: $defLineHeight;

	background-color: $backgroundColor;
}
a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}