
//RumRaisin
@font-face {
	font-family: RumRaisin;
	font-weight: 400;
	src: url(../fonts/RumRaisin/RumRaisin-Regular.ttf);
}
//PlayfairDisplay
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 400;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 500;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 600;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 700;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 800;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf);
}

//PlayfairDisplaySC
@font-face {
	font-family: PlayfairDisplaySC;
	font-weight: 400;
	src: url(../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Regular.ttf);
}
// @font-face {
// 	font-family: PlayfairDisplaySC;
// 	font-weight: 500;
// 	src: url(../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Medium.ttf);
// }
// @font-face {
// 	font-family: PlayfairDisplaySC;
// 	font-weight: 600;
// 	src: url(../fonts/PlayfairDisplaySC/PlayfairDisplaySC-SemiBold.ttf);
// }
@font-face {
	font-family: PlayfairDisplaySC;
	font-weight: 700;
	src: url(../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.ttf);
}
// @font-face {
// 	font-family: PlayfairDisplaySC;
// 	font-weight: 800;
// 	src: url(../fonts/PlayfairDisplaySC/PlayfairDisplaySC-ExtraBold.ttf);
// }